		h1{
			text-align: center;
			font-size: 16pt;
			font-weight: bold;
			text-transform: uppercase;
		}
		h2{
			text-align: center;
			font-size: 14pt;
			font-weight: bold;
		}
		p, li{
			font-size: 14pt;
		}
		body{
			padding-left: 0;
			padding-right: 0;
		}
		.paper{
			background-color: #cffffa;
			padding: 10px;
			max-width: 210mm;
			min-width: 300px;
			margin-left: auto;
			margin-right: auto;
		}
		.paper p, li{
			text-align: justify;
			text-indent: 1cm;
		}
		#colontitle{
			color: grey;
			text-align: center;
			font-size: 12pt;
		}
		.figc{
			width: 600px;
			max-width: 90%;
		}
		.row{
			overflow: hidden;
		}
		.row p{
			text-align: center;
		}
		.col{
			min-width: 300px;
		    width: 50%;
    		float: left; 
		}
		pre{
			min-width: 250px;
			margin: 10px;
			padding: 10px 40px 10px 40px;
			background-color: #EEEEEE;
			font-weight: 600;
			font-size: 16px;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
		}
		code{
			font-weight: 900;
			font-size: 18px;
		}
		figure{
			margin: 30px 0 30px 0;
			padding: 0;
			text-align: center;
		}
		figcaption{
			text-align: center;
		}
		figure.figure-float-left{
			max-width: 250px;
			float: left;
			margin: 30px;
		}
		.clearfix:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
		.clearfix { display: inline-block; }
		/* start commented backslash hack \*/
		* html .clearfix { height: 1%; }
		.clearfix { display: block; }
